<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="folder" value=""/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EntitiesList" connectionString="metadata=res://*/App_Data.BankEntities.csdl|res://*/App_Data.BankEntities.ssdl|res://*/App_Data.BankEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUSHIL-PC1\SQLEXPRESS;initial catalog=Bank_Muscat;user id=test;Password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesList1" connectionString="Data Source=SUSHIL-PC1\SQLEXPRESS;Initial Catalog=Bank_Muscat;user id=test;Password=test;" providerName="System.Data.EntityClient" />-->
    
    <add name="EntitiesList" connectionString="metadata=res://*/App_Data.BankEntities.csdl|res://*/App_Data.BankEntities.ssdl|res://*/App_Data.BankEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.12.56,1527;initial catalog=Bank_Muscat;user id=ORCH_RPA;Password=Orch_2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesList1" connectionString="HCkf80zen5rRJpbkayYEwol6zy3Xu+vpjeR8ba3bCLlKjvYxb02dfqM0hzrIA5JIvAEsmfXKxXiVP0c+foU1K1rceNT0kPh31vPImemplx5cxJmWG9LgoDNGxFUXi7rQ" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>